.zwpage {
    'white-space' : 'normal',
}
.zwblk {
}

/* Text styling */
span.zwmark {
}
strong.zwmark {
}
em.zwmark {
}
u.zwmark {
}
sup.zwmark {
}
sub.zwmark {
}
strong.zwmark > em.zwmark {
}
strong.zwmark > u.zwmark {
}
em.zwmark > u.zwmark {
}
strong.zwmark > em.zwmark > u.zwmark {
}
p.zwtext {
}

/* Sections */
h1.zwsec {
}
h2.zwsec {
}
h3.zwsec {
}
h4.zwsec {
}
h5.zwsec {
}
h1 a.zwseclink, h2 a.zwseclink, h3 a.zwseclink, h4 a.zwseclink, h5 a.zwseclink {
  color: #CCCCCC;
  font-size: medium;
  text-decoration: none
}

/* Small table */
table.zwtbl {
  border-collapse: collapse;
}
tr.zwtbl {
}
th.zwtbl {
  padding : 5px; border: 1px solid gray;
}
td.zwtbl {
  padding : 5px; border: 1px solid gray;
}

/* Big table */
table.zwbtbl {
  border-left : 1px solid gray;
  border-top : 1px solid gray;
}
tr.zwbtbl {
}
th.zwbtbl {
  padding : 5px;
  border-right : 1px solid gray;
  border-bottom : 1px solid gray;
}
td.zwbtbl {
  padding : 5px;
  border-right : 1px solid gray;
  border-bottom : 1px solid gray;
}

/* Horizontal rule */
hr.zwhorz {
}

/* List */
ul.zw {
}
ol.zw {
}
li.zw {
}

/* Definitions */
dl.zw {
}
dt.zw {
}
dd.zw {
}

/* Blockquote */
blockquote.zw.firstlevel {
  border-left : 2px solid #d6d6d6;
  padding-left : 5px
}
blockquote.zw.innerlevel {
  margin-left : 0px;
  border-left : 2px solid #d6d6d6;
  padding-left : 5px;
}

/* Links */
img.zw {
}
a.zwlink {
}
a.zwlink.anchor {
}
a.zwhttpuri {
}
a.zwwwwuri {
}

/* macro-anchor */
a.zwm-anchor {
}

/* macro-clear */
div.zwm-clear {
  clear : both;
}

/* macro-image */
div.zwm-image {
  margin    : 0px;
  padding   : 0px;
  border    : 0px;
}

/* macro-images */
table.zwm-images {
  margin    : 10px;
  padding   : 0px;
  border    : 0px;
}
table.zwm-images tr {
}
table.zwm-images td {
}
table.zwm-images img {
}

/* macro-span */
span.zwm-span {
  color   : gray;
  padding : 2px;
}

/* macro-toc */
div.zwm-toc {
  background    : #f8f7bc;
  position      : relative;
  float         : left;
  margin        : 10px;
  padding       : 3px;
  width         : 20em;
  border-right  : 1px solid gray;
  border-bottom : 1px solid gray;
}
div.zwm-toc .head {
  margin-bottom : 5px;
}
div.zwm-toc .head .topic {
  font-weight : bold;
}
div.zwm-toc .head .close {
  color : blue;
  cursor : pointer;
  font-size : small;
  position: relative;
  float: right;
}
div.zwm-toc div.toc {
}
div.zwm-toc div.h1 {
  margin-left : 0em;
}
div.zwm-toc div.h2 {
  margin-left : 0.7em;
}
div.zwm-toc div.h3 {
  margin-left : 1.4em;
}
div.zwm-toc div.h4 {
  margin-left : 2.1em;
}
div.zwm-toc div.h5 {
  margin-left : 2.8em;
}
div.zwm-toc a {
}

/* extension-box */
p.zwext-box .box {
  color         : gray;
  border-top    : thin solid gray;
  border-right  : thin solid gray;
  border-bottom : thin solid gray;
  border-left   : thin solid gray;
}
p.zwext-box .boxtitle = {
  color          : black;
  background     : #EEEEEE;
  font-weight    : bold;
  padding-top    : 3px;
  padding-right  : 3px;
  padding-bottom : 3px;
  padding-left   : 3px;
}
p.zwext-box .boxcont = {
  padding-top    : 3px;
  padding-right  : 3px;
  padding-bottom : 3px;
  padding-left   : 3px;
}



/* extension-code */
p.zwext-code .code {
  margin-left  : 5%;
  margin-right : 5%;
}
p.zwext-code .highlighttable td.linenos {
  padding : 3px;
  color : brown;
  background-color : activeborder;
}
p.zwext-code .highlighttable td.code {
  padding : 3px
}
p.zwext-code .highlight {
  background-color : #FAFAFA;
}
p.zwext-code .codecont {
  background : #FAFAFA;
  border : 1px dashed gray;
}

/* extension-footnote */
p.zwext-footnote .footnote {
}
p.zwext-footnote table {
  margin-left: 5px;
}
p.zwext-footnote td.anchor {
  padding: 5px;
  color: blue;
  vertical-align: top;
}
p.zwext-footnote td.notes {
  padding: 5px;
  text-align: left;
}

/* extension-html */
p.zwext-html .html {
}

/* extension-nested */
p.zwext-nested .nested {
}

/* Templated tags */
pre.zwttag {
}
abbr.zwttag {
}
span.zwttag.fixme {
  border : 1px solid cadetBlue;
  color : red;
  padding: 1px;
  font-family : monospace;
}
div.zwttag.qbq {
  font-style : italic;
  margin : 5px 0px 5px 0px;
  padding : 15px 0px 10px 40px;
  width: 70%;
  white-space: pre;
}
span.zwttag.smile {
  font-size: x-large;
  color: darkOrchid;
  padding: 1px;
  font-family : monospace;
}
span.zwttag.sad {
  font-size: x-large;
  color: orangeRed;
  padding: 1px;
  font-family : monospace;
}
address.zwttag {
}
span.zwttag.fnt {
}
sup.zwttag.footnote {
}
sup.zwttag.footnote a {
  text-decoration: none;
}
