include AUTHORS
include CHANGELOG
include COPYING
include LICENSE
include README
include README.rst
include RELEASE
include ROADMAP

recursive-include eazytext *.etx *.css *.js
recursive-include docs *.etx
